<div class="index-body">
  <h1>Books</h1>
  <table class="book-list">
    <thead>
      <tr>
        <th class="book-title">Title</th>
        <th class="book-body">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @books.each do |book| %>
          <tr>
            <td class="book-title"><span><%= book.title %></span></td>
            <td class="book-body"><span><%= book.body %></span></td>
            <td><span><%= link_to "show", book_path(book.id) %></span></td>
          </tr>
        <% end %>
      </tr>
    </tbody>
  </table>


  <%= form_with model: @book,url: '/lists', method: :post do |f| %>
    <h2 class="new-book">New book</h2>
    <p>Title</p>
    <%= f.text_field :title%>
    <p>Body</p>
    <%= f.text_area :body %>

    <%= f.submit 'Create Book'%>
  <% end %>
</div>